<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="lib/video-js/video-js.css" />
<link rel="stylesheet" href="css/styles.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>

<script src="lib/other/angular-timer.min.js"></script>
<script src="lib/video-js/modified.video.js"></script>
<script src="lib/chromecast/videojs.chromeCast.js"></script>

<script src="scripts/app.js"></script>

<script src="scripts/main.ctrl.js"></script>
<script src="scripts/video-player.service.js"></script>
<script src="scripts/dvids-api-data.service.js"></script>
<script src="scripts/filters.js"></script>
<script src="scripts/shared-vars.js"></script>

<script>
  var myPlayer;

  videojs.options.flash.swf = "flash/video-js.swf";
  videojs.options.flash.flashVars = {
      hls_lowbufferlength : 1,
      hls_capleveltostage : true,
  }
</script>



<div class="container app-video-container" data-ng-app="videoWidgetApp" data-ng-controller="MainCtrl">  


  <div class="row">

      <div class="col-sm-5 col-md-5">

        <div class="btn-group-vertical">
        <button class="btn btn-default app-video-list-btn" type="submit" 
          ng-click="" ng-repeat="Object in videoList | limitTo:4">

            <h4 class="uniqueNum" tooltip-placement="top" tooltip="{{Object.title}}">{{Object.title | trimTitle}}</h4>
            <!--<p class="hidden-md" style="color: #888; font-size: 11px; margin-bottom: 0px;">{{Object.unit_name}}</p>-->
            <p>Air Time: {{Object.begin | date:"MM.dd.yyyy"}}, {{Object.begin | date:"hh:mm a"}} 
              <span ng-class="liveCheck2(Object.begin)">Live Now!</span>
            </p>
            <p class="the-description uniqueNum">{{Object.description | trimDescription}}</p> <!-- | trimDescription -->

        </button>
        </div>
       
      </div>


      <div class="col-sm-7 col-md-7">


          <!-- Video player
          **************************************************************************************** 
          -->
          <div id="dvids-player">
            <div class="videoWrapper" ng-controller="VideoPlayerCtrl">
              <div>
                <video id="video_container" class="video-js vjs-default-skin" controls poster="images/poster.png" 
                  style="max-width: 100%;">
                  <source src="" type="video/mp4"></source>
                </video>
              </div>

              <div id="live-info">
                  <h1>Live Event</h1>
                  <h2>{{LiveVideoAsset.title}}</h2>
                  <h3>{{LiveVideoAsset.begin | date:"MM.dd.yyyy &nbsp;&nbsp;&nbsp; hh:mm a"}} &nbsp;&nbsp;&nbsp; {{timezone}}</h3>
              </div>
            </div>
          </div>


      </div>

  </div>


</div>
